
<div class="mom">
<div class="child">
    <div class="childinner">Lorem ipsum dolor.</div>
</div>
<div class="child">
    <div class="childinner">Amet laborum cupiditate.</div>
</div>
<div class="child">
    <div class="childinner">Ratione maxime et!</div>
</div>
</div>
CSS:

